.custom-shape-divider-bottom-1605894770 {
    position: relative;
    bottom: 121px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1605894770 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 122px;
}

.custom-shape-divider-bottom-1605894770 .shape-fill {
    fill: #FFFFFF;
}