/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


/* Primary HTML Overrides */
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Bootstrap Overrides */
.display-3 {
  font-weight: 400;
}
.bg-dark {
  background-color: #0f376f!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.container, .container-fluid {
  padding: 50px 0;
}
.jumbotron-fluid {
  min-height: 450px;
  background: #0f366f;
  color: white;
  padding: 0px 20px;
}
#jumbotron-image {
  margin: auto;
  text-align: center;
}
.jumbotron-fluid .container {
  padding: 25px 0px;
}
.jumbotron-fluid .col-md-6 {
  padding-top: 60px;
}
.lead {
  font-size: 34px;
  line-height: 51px;
}
#projects-container {
  background-color: #f6f6f6;
}
#projects-container .row {
  max-width: 1140px;
  margin: auto;
}
.card, .card-header, .card-footer {
  border: none;
  border-radius: 6px;
}
.card {
  box-shadow: 0px 0px 5px #0f376f47;
}
.card-header {
  font-weight: 600;
  border: none;
}
.card-footer {
  background-color: #0f366f;
  color: white;
}
#html {
  background-color: #f06629;
  color: white;
}
#javascript {
  background-color: #d2b604;
  color: white;
}
#node {
  background-color: #679f63;
  color: white;
}
#github-url a {
  color: white;
}
#github-url p {
  margin-bottom: 0;
}
.card {
  margin: 20px 0px;
}
#footer {
  background-color: #191b1e;
  padding: 50px 0px;
}
#footer .row {
  max-width: 1140px;
  margin: auto;
  color: white;
}
#footer a {
  color: white;
}
#computer {
  width: 100%;
  max-width: 539px;
  position: relative;
  bottom: 0px;
}
#profile {
  border: red;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 15px 15px 0px #efefef1f;
}
li.nav-item {
  text-align: center;
}
#github-logo {
  width: 22px;
}
@media only screen and (max-width: 767px) {
  .card {
    margin: 10px 20px;
  }
  #computer {
    bottom: -25px;
  }
}
#technologies {
  padding-top: 0px;
}
#technologies .card {
  min-height: 200px;
  width: 100%;
  max-width: 200px;
  background-color: #f6f6f6;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

#technologies .card-body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}