body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-dark {
  background-color: #0f376f!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.jumbotron-fluid {
  min-height: 450px;
  background: #0f366f;
  color: white;
  padding: 0px 20px;
}
#jumbotron-image {
  margin: auto;
  text-align: center;
}
.jumbotron-fluid .container {
  padding: 25px 0px;
}
.jumbotron-fluid .col-md-6 {
  padding-top: 60px;
}
#projects-container {
  padding: 0px 0px 100px 0px;
  margin-top: -50px;
}
.container {
  padding: 100px 0px;
}
.card, .card-header, .card-footer {
  border: none;
  border-radius: 0 !important;
}
.card {
  box-shadow: 0px 0px 5px #0f376f47;
}
.card-header {
  font-weight: 600;
  border: none;
}
.card-footer {
  background-color: #0f366f;
  color: white;
}
#html {
  background-color: #f06629;
  color: white;
}
#javascript {
  background-color: #d2b604;
  color: white;
}
#node {
  background-color: #679f63;
  color: white;
}
#github-url a {
  color: white;
}
#github-url p {
  margin-bottom: 0;
}
.card {
  margin: 20px 0px;
}
#footer-container {
  background-color: slategray;
  padding: 50px 0px;
}
#footer-container .row {
  max-width: 1140px;
  margin: auto;
  color: white;
}
#footer-container a {
  color: white;
}
#computer {
  width: 100%;
  max-width: 539px;
  position: relative;
  bottom: 0px;
}
#profile {
  border: red;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  border-radius: 400px;
}
li.nav-item {
  text-align: center;
}
#github-logo {
  width: 22px;
}
@media only screen and (max-width: 767px) {
  .card {
    margin: 10px 20px;
  }
  #computer {
    bottom: -25px;
  }
}